<div [formGroup]="form">
  <div class="row">
    <p class="flow-text center-align grey darken-1">
      Choisir le niveau de jeu : <span class="orange-text text-darken-2">{{ niveauJeu() }}</span>
    </p>
  </div>

  <div class="row">
    <div class="card-content">
      <div class="col s6">
        <label for="niveauJeu">Niveau de jeu :</label>
        <select id="niveauJeu" formControlName="niveauJeu" class="browser-default">
          <option value="libre" selected>Libre</option>
          <option value="moyen">Moyen : 60 points</option>
          <option value="expérimenté">Expérimenté : 70 points</option>
          <option value="heroique">Héroïque : 75 points</option>
          <option value="legendaire">Légendaire : 80 points</option>
        </select>
      </div>
      <div class="col s6" *ngIf="niveauJeu() !== 'libre' && pointsRestants() !== null">
        <p><b>Points restant : {{ pointsRestants() }}/{{ getTotalPoints() }}</b></p>
      </div>
    </div>
  </div>

  <!-- Gestion des caractéristiques -->
  <div class="carac-grid">
    <div formArrayName="caracteristiquePersonnage" class="carac-array">

      <!-- Caractéristiques principales -->
      <div class="carac-col">
        <div class="carac-principales-grid">
          <ng-container *ngFor="let row of getPrincipalesRows()">
            <div class="carac-row">
              <ng-container *ngFor="let col of row">
                <ng-container *ngIf="col">
                  <div [formGroupName]="getFormArrayIndexByCode(col.value.code)" class="carac-item">
                    <label class="active">{{ col.value.code }}</label>
                    <div class="buton-input-group">
                      <button type="button" class="btn-floating yellow darken-3 btn-small"
                        (click)="decrementCaracteristique(getFormArrayIndexByCode(col.value.code))"
                        [disabled]="isDecrementDisabled(col.value.code)">
                        <i class="material-icons">remove</i>
                      </button>
                      <input type="text" formControlName="valeurMax" [readonly]="!col.get('valeurMax')?.enabled">
                      <button type="button" class="btn-floating yellow darken-3 btn-small"
                        (click)="incrementCaracteristique(getFormArrayIndexByCode(col.value.code))"
                        [disabled]="isIncrementDisabled(col.value.code)">
                        <i class="material-icons">add</i>
                      </button>
                    </div>
                    <div *ngIf="col.get('valeurMax')?.invalid && (col.get('valeurMax')?.dirty || col.get('valeurMax')?.touched)">
                      <div *ngIf="col.get('valeurMax')?.errors?.['required']">Valeur requise.</div>
                      <div *ngIf="col.get('valeurMax')?.errors?.['min']">Valeur minimale: 1.</div>
                      <div *ngIf="col.get('valeurMax')?.errors?.['max']">Valeur maximale: 10.</div>
                    </div>
                  </div>
                </ng-container>
              </ng-container>
            </div>
          </ng-container>
        </div>
      </div><!-- Fin caractéristiques principales -->
      
      <!-- Caractéristiques secondaires-->
      <div class="carac-col">
        <div *ngFor="let caracteristiqueCtrl of caracteristiquePersonnage.controls; let i = index" [formGroupName]="i">
          <div *ngIf="caracteristiqueCtrl.value.type === 'Secondaire'" class="carac-row">
            <label>{{ caracteristiqueCtrl.value.code }}</label>
            <input type="text" formControlName="valeurMax" readonly>
          </div>
        </div>
      </div>
    </div><!-- Fin caractéristiques secondaires -->

    <!--Autres caractéristiques-->
    <div class="carac-col">
      <div class="carac-row">
        <label>Poings</label>
        <input type="text" formControlName="poings" readonly>
      </div>
      <div class="carac-row">
        <label>Pieds</label>
        <input type="text" formControlName="pieds" readonly>
      </div>
      <div class="carac-row">
        <label>Vigueur</label>
        <input type="text" formControlName="vigueur" readonly>
      </div>
    </div><!-- Fin autres caractéristiques -->
  </div>
</div>