<div [formGroup]="form">
  <div class="row">
    <p class="flow-text center-align grey darken-1">Choisir le niveau de jeu :</p>
  </div>

  <div class="row">
    <div class="card-content">
      <div>
        <label for="niveauJeu">Niveau de jeu :</label>
        <select id="niveauJeu" formControlName="niveauJeu" class="browser-default">
          <option value="libre">Libre</option>
          <option value="moyen">Moyen : 60 points</option>
          <option value="expérimenté">Expérimenté : 70 points</option>
          <option value="heroique">Héroïque : 75 points</option>
          <option value="legendaire">Légendaire : 80 points</option>
        </select>
      </div>
      <div *ngIf="niveauJeu() !== 'libre' && pointsRestants() !== null">
        <label>.</label>
        <input class="active" type="text" value="Il vous reste {{ pointsRestants() }} points à dépenser." disabled/>
      </div>
    </div>
  </div>

  <!-- Gestion des caractéristiques -->
  <div class="carac-grid">
    <div formArrayName="caracteristiquePersonnage" class="carac-array">
      <div class="carac-col">
        <div *ngFor="let caracteristiqueCtrl of caracteristiquePersonnage.controls; let i = index" [formGroupName]="i">
          <div class="carac-row" *ngIf="caracteristiqueCtrl.value.type === 'Principale'">
            <button type="button" class="btn-floating btn-small" (click)="decrementCaracteristique(i)" [disabled]="isDecrementDisabled(caracteristiqueCtrl.value.code)">
              <i class="material-icons">remove</i>
            </button>
            <label>{{ caracteristiqueCtrl.value.code }}</label>
            <input type="text" formControlName="valeurMax" [readonly]="!caracteristiqueCtrl.get('valeurMax')?.enabled">
            <button type="button" class="btn-floating btn-small" (click)="incrementCaracteristique(i)" [disabled]="isIncrementDisabled(caracteristiqueCtrl.value.code)">
              <i class="material-icons">add</i>
            </button>
            <div *ngIf="caracteristiqueCtrl.get('valeurMax')?.invalid && (caracteristiqueCtrl.get('valeurMax')?.dirty || caracteristiqueCtrl.get('valeurMax')?.touched)">
              <div *ngIf="caracteristiqueCtrl.get('valeurMax')?.errors?.['required']">Valeur requise.</div>
              <div *ngIf="caracteristiqueCtrl.get('valeurMax')?.errors?.['min']">Valeur minimale: 3.</div>
              <div *ngIf="caracteristiqueCtrl.get('valeurMax')?.errors?.['max']">Valeur maximale: 10.</div>
            </div>
          </div>
        </div>
      </div>
      <div class="carac-col">
        <div *ngFor="let caracteristiqueCtrl of caracteristiquePersonnage.controls; let i = index" [formGroupName]="i">
          <div *ngIf="caracteristiqueCtrl.value.type === 'Secondaire'" class="carac-row">
            <label>{{ caracteristiqueCtrl.value.code }}</label>
            <input type="text" formControlName="valeurMax" readonly>
          </div>
        </div>
      </div>
    </div>
    <div class="carac-col">
      <div class="carac-row">
        <label>Poings</label>
        <input type="text" formControlName="poings" readonly>
      </div>
      <div class="carac-row">
        <label>Pieds</label>
        <input type="text" formControlName="pieds" readonly>
      </div>
      <div class="carac-row">
        <label>Vigueur</label>
        <input type="text" formControlName="vigueur" readonly>
      </div>
    </div>
  </div>
</div>