//Boutons d'incrément et de décrément
.buton-input-group {
  display: flex;
  align-items: center;
  gap: 2px;

  input[type="text"] {
    width: 60px;
    text-align: center;
    margin: 0 4px;
  }

  .btn-floating {
    min-width: 32px;
    height: 32px;
    line-height: 32px;
    padding: 0;
  }
}

.carac-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 2rem;
  margin-top: 2rem;

  .carac-principales-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 0.5rem;
  }
  .carac-item {
    width: 100%;
  } 
}

.carac-col {
  display: flex;
  flex-direction: column;
  gap: 0;
}

// Buttons d'action fixes
.fixed-action-buttons {
  position: fixed;
  right: 32px;
  bottom: 32px;
  z-index: 1000;
  display: flex;
  gap: 16px;
}

.carac-array {
  display: contents;
}

.card-content {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2rem;

  p {
    color: #424242;
    margin: 0;
  }

  .col {
    flex: 1 1 0;
  }
}

@media (max-width: 900px) {
  .carac-grid {
    grid-template-columns: 1fr;
  }
}