<div #modal id="updateModal" class="modal">
    <div class="row">
        <form *ngIf="competenceForm" [formGroup]="competenceForm" (ngSubmit)="onSubmit()">
            <!-- ngIf permet de s'assurer que le formulaire est prêt avant de l'afficher -->

            <h4 class="center-align">Modifier la competence : {{ competence?.nom}} </h4>
            <!--Ligne-->
            <div class="row">
                <div class="input-field col s4">
                    <label class="active" for="nom">Nom</label>
                    <input id="nom" type="text" formControlName="nom" required>
                    <!-- Affiche le message d'erreur uniquement si le contrôle est invalide et a été touché ou modifié -->
                    <app-form-control-error [control]="competenceForm.get('nom')"></app-form-control-error>
                </div>
                <div class="input-field col s4">
                    <select formControlName="caracteristique" #caracSelect>
                        <option value="" disabled selected>Choisissez une caractéristique</option>
                        <option *ngFor="let carac of caracteristiques" [value]="carac.idCaracteristique">{{ carac.nom }}</option>
                    </select>
                    <label>Caractéristique</label>
                    <app-form-control-error [control]="competenceForm.get('caracteristique')"></app-form-control-error>
                </div>
                <div class="input-field col s4">
                    <label>
                        <input type="checkbox" formControlName="isExclusive" />
                        <span>Compétence exclusive</span>
                    </label>
                    <app-form-control-error [control]="competenceForm.get('isExclusive')"></app-form-control-error>
                </div>
            </div>
            <!--Ligne-->
            <div class="row" *ngIf="competenceForm.get('isExclusive')?.value">
                <div class="input-field col s6">
                    <label class="active" for="prerequis">Prerequis</label>
                    <input id="prerequis" type="text" formControlName="prerequis" (input)="onUpperCase($event)">
                    <app-form-control-error [control]="competenceForm.get('prerequis')"></app-form-control-error>
                </div>
                <div class="input-field col s6">
                    <label class="active" for="specialisation">Spécialisation</label>
                    <input id="specialisation" type="text" formControlName="specialisation" (input)="onUpperCase($event)">
                    <app-form-control-error [control]="competenceForm.get('specialisation')"></app-form-control-error>
                </div>
            </div>
            <!--Ligne-->
            <div class="row">
                <div class="input-field col s12">
                    <textarea id="description" class="materialize-textarea" formControlName="description" required></textarea>
                    <label class="active" for="description">Description</label>
                    <app-form-control-error [control]="competenceForm.get('description')"></app-form-control-error>
                </div>
            </div>

            <div class="modal-footer">
                <button type="submit" class="modal-close btn-flat" [disabled]="competenceForm.invalid">Valider</button>
                <button type="button" class="modal-close btn-flat" (click)="onCancel()">Annuler</button>
            </div>
        </form>
    </div>
</div>
