<div class="height-page">

<div class="row">
  <div class="col s12"></div>
</div>

<div class="row">
  <div class="col s2"></div>
  <div class="col s2">
    
    <div class="card">
      <div class="card-content">
        <table class="striped">
          <thead>
            <tr>
              <th>Nom</th>
              <th>Valeur</th>
              <th>Max</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let cateristiques of isPrincipaleCaracteristiques()">
              <td>{{ cateristiques.caracteristique.code }}</td>
              <td>{{ cateristiques.valeurActuelle }}</td>
              <td>{{ cateristiques.valeurMax }}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>

    
  </div>

  <div class="col s4">
    <div class="card horizontal">
      <div class="card-image">
        <img src="img/photo_default.jpg">
      </div>
      <div class="card-stacked">
        <div class="card-content">
          <span class="card-title activator grey-text text-darken-4">{{ characterData.nomPersonnage }}</span>
          <p><b>Joueur :</b> {{ characterData.nomJoueur }}</p>
          <p><b>Genre :</b> {{ characterData.genre }}</p>
          <p><b>Âge :</b> {{ characterData.age }} ans</p>
          <p><b>Race :</b> {{ characterData.race.nom }}</p>
          <p><b>Profession :</b> {{ characterData.profession.nom }}</p>
          <p><b>Origine :</b> {{ characterData.terreNatale }}</p>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col s4"></div>

      <div class="col s12">
        <div class="card">
          <div class="card-content">
            <table class="striped">
              <tr>
                <th>Poings</th>
                <td>{{ characterData.poings }}</td>
              </tr>
              <tr>
                <th>Pieds</th>
                <td>{{ characterData.pieds }}</td>
              </tr>
              <tr>
                <th>Vigueur</th>
                <td>{{ characterData.vigueur }}</td>
              </tr>
            </table>
          </div>
        </div>
      </div>

      <div class="col s4"></div>
    </div>
    
  </div>

  <div class="col s2">

    <div class="card">
      <div class="card-content">
        <table class="striped">
          <thead>
            <tr>
              <th>Nom</th>
              <th>Valeur</th>
              <th>Max</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let cateristiques of nonPrincipaleCaracteristiques()">
              <td>{{ cateristiques.caracteristique.code }}</td>
              <td>{{ cateristiques.valeurActuelle }}</td>
              <td>{{ cateristiques.valeurMax }}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>

    
  </div>
</div>

<div class="col s2"></div>

<div class="row">
  <div class="col s2"></div>

  <div class="col s8">
    <div class="card-tabs">
      <ul class="tabs tabs-fixed-width">
        <li class="tab"><a class="active" href="#inventaireList">Inventaire</a></li>
        <li class="tab" *ngIf="characterData.competencePersonnageList && characterData.competencePersonnageList.length > 0"><a href="#competenceList">Compétences</a></li>
  <li class="tab" *ngIf="getSorts().length > 0"><a href="#sortList">Sorts</a></li>
  <li class="tab" *ngIf="getSignes().length > 0"><a href="#signeList">Signes</a></li>
  <li class="tab" *ngIf="getInvocations().length > 0"><a href="#invocationList">Invocations</a></li>
        <li class="tab" *ngIf="characterData.rituelList && characterData.rituelList.length > 0"><a href="#rituelList">Rituels</a></li>
  <li class="tab" *ngIf="characterData.envoutementList && characterData.envoutementList.length > 0"><a href="#envoutementList">Envoûtements</a></li>
      </ul>
    </div>

    <div class="card-content grey lighten-4">
      <div id="inventaireList">
        <table class="striped">
          <thead>
            <tr>
              <th>Nom</th>
              <th>Type</th>
              <th>Effet</th>
              <th>Quantité</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let inventaire of characterData.inventaireList">
              <td>{{ inventaire.nom }}</td>
              <td>{{ inventaire.type }}</td>
              <td>{{ inventaire.effet }}</td>
              <td>{{ inventaire.quantite }}</td>
            </tr>
          </tbody>
        </table>
      </div>

      <div id="competenceList" *ngIf="characterData.competencePersonnageList && characterData.competencePersonnageList.length > 0">
        <table class="striped">
          <thead>
            <tr>
              <th>Nom</th>
              <th>Valeur</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let comp of characterData.competencePersonnageList">
              <td>{{ comp.competence.nom }} ({{ comp.competence.caracteristique.code }})</td>
              <td>{{ comp.valeurActuelle }}</td>
            </tr>
          </tbody>
        </table><!-- Fin compétence -->
      </div>

      <div id="sortList" *ngIf="getSorts().length > 0">
        <div class="card"  *ngFor="let magie of getSorts()">
          <div class="card-content">
            <span class="card-title">{{ magie.nom }} - {{ magie.cout }} END</span>
            <p><b>Portée : </b>{{ magie.portee }}</p>
            <p><b>Description : </b>{{ magie.effet }}</p>
            <p><b>Contre : </b>{{ magie.contre }}</p>
          </div>
        </div><!-- Fin sort -->
      </div>

      <div id="signeList" *ngIf="getSignes().length > 0">
        <div class="card"  *ngFor="let magie of getSignes()">
          <div class="card-content">
            <span class="card-title">{{ magie.nom }} - {{ magie.cout }} END</span>
            <p><b>Portée : </b>{{ magie.portee }}</p>
            <p><b>Description : </b>{{ magie.effet }}</p>
            <p><b>Contre : </b>{{ magie.contre }}</p>
          </div>
        </div><!-- Fin signe -->
      </div>

      <div id="invocationList" *ngIf="getInvocations().length > 0">
        <div class="card"  *ngFor="let magie of getInvocations()">
          <div class="card-content">
            <span class="card-title">{{ magie.nom }} - {{ magie.cout }} END</span>
            <p><b>Portée : </b>{{ magie.portee }}</p>
            <p><b>Description : </b>{{ magie.effet }}</p>
            <p><b>Contre : </b>{{ magie.contre }}</p>
          </div>
        </div><!-- Fin invocation -->
      </div>

      <div id="rituelList" *ngIf="characterData.rituelList && characterData.rituelList.length > 0">
        <div class="card"  *ngFor="let rituel of characterData.rituelList">
          <div class="card-content">
            <span class="card-title">{{ rituel.nom }} - {{ rituel.cout }} END</span>
            <p><b>Préparation : </b>{{ rituel.tempsPreparation }}</p>
            <p><b>Durée : </b>{{ rituel.duree }}</p>
            <p><b>Effet : </b>{{ rituel.effet }}</p>
            <p><b>Composant : </b>{{ rituel.composant }}</p>
          </div>
        </div><!-- Fin rituel -->
      </div>

      <div id="envoutementList" *ngIf="characterData.envoutementList && characterData.envoutementList.length > 0">
        <div class="card"  *ngFor="let envoutement of characterData.envoutementList">
          <div class="card-content">
            <span class="card-title">{{ envoutement.nom }} - {{ envoutement.cout }} END</span>
            <p><b>Danger : </b>{{ envoutement.danger }}</p>
            <p><b>Effet : </b>{{ envoutement.effet }}</p>
            <p><b>Prérequis pour lever l'envoutement : </b>{{ envoutement.prerequis }}</p>
          </div>
        </div>
      </div><!-- Fin envoutement -->
    </div>
  </div>

  <div class="col s2"></div>

</div>
