@use '../../../styles/page-layout';

// Double colonne pour les compétences
.competence-columns {
  display: flex;
  gap: 0;
  justify-content: center;
  padding-left: 40px;
  padding-right: 40px;
}

.competence-table {
  flex: 1;
  min-width: 250px;
}

// Bordure centrale entre les deux tableaux
.competence-table:first-child {
  border-right: 2px solid #e0e0e0;
  margin-right: 32px;
  padding-right: 16px;
}
.competence-table:last-child {
  margin-left: 32px;
  padding-left: 16px;
}

.competence-table {
  flex: 1;
  min-width: 250px;
}


 .card-image {
  max-width: 200px; // ou la taille souhaitée
  width: 75%!important; // pour s'assurer que l'image ne dépasse pas
  margin: 0 auto; // centre la card horizontalement si besoin
} 