<p>caracteristiques-list works!</p>
<h1 class="center-align">Les caractéristiques</h1>

<table class="highlight">
    <thead>
      <tr>
          <th>Nom</th>
          <th>Code</th>
          <th>Caractéristiques</th>
      </tr>
    </thead>

    <tbody>
      <tr>
        <td>Intelligence</td>
        <td>INT</td>
        <td>Permet de résoudre des énigmes, de réaliser des expériences scientifiques, de construire des raisonnements logiques…</td>
      </tr>
      <tr>
        <td>Réflexes</td>
        <td>RÉF</td>
        <td>Sert à combattre, esquiver et effectuer des actions nécessitant des réactions rapides et des gestes précis.</td>
      </tr>
    </tbody>
</table>

