<div class="row">

    <div class="col s12 m3">
      <div class="card medium">
        <div class="card-image">
          <img src="img/sort.jpg">
          <span class="card-title">Grimoire</span>
        </div>
        <div class="card-content">
          <p>La magie est à la fois un art extrêmement dangereux et une science très bien documentée par de nombreuses recherches...</p>
        </div>
        <div class="card-action">
          <a [routerLink]="['/grimoire/magie']">Magie</a>
          <a [routerLink]="['/grimoire/rituel']">Rituels</a>
          <a [routerLink]="['/grimoire/envoutement']">Envoûtements</a>
        </div>
      </div>
    </div>
 
    <div class="col s12 m3">
      <div class="card medium">
        <div class="card-image">
          <img src="img/creer_personnage.jpg">
          <span class="card-title">Fiche personnage</span>
        </div>
        <div class="card-content">
          <p>Création et consultation de fiches personnages.</p>
        </div>
        <div class="card-action">
          <a >Créer</a>
          <a >Consulter</a>
        </div>
      </div>
    </div>
 
    <div class="col s12 m3">
      <div class="card medium">
        <div class="card-image">
          <img src="img/magasin.jpg">
          <span class="card-title">Magasin</span>
        </div>
        <div class="card-content">
          <p>Cette partie seras disponible lors de la phase 2 de développement.</p>
        </div>
        <div class="card-action">
          <a >Armes</a>
          <a >Armures</a>
          <a >Ingrédients</a>
        </div>
      </div>
    </div>

    <div class="col s12 m3">
      <div class="card medium">
        <div class="card-image">
          <img src="img/don.jpg">
          <span class="card-title">Combat</span>
        </div>
        <div class="card-content">
          <p>Cette partie seras disponible lors de la phase 3 de développement.</p>
        </div>
        <div class="card-action">
          <a >Voir</a>
        </div>
      </div>
    </div>
  
</div>

