
<div class="row">

  <div class="col s12 m2"></div>

  <div class="col s12 m8">
    <div class="row">
      <div class="col s12 m4">
        <div class="card medium">
            <div class="card-image card-image-square">
            <img src="img/sort.jpg">
            <span class="card-title">Grimoire</span>
          </div>
          <div class="card-content-wrapper">
            <div class="card-content">
              <p>La magie est à la fois un art extrêmement dangereux et une science très bien documentée par de nombreuses recherches...</p>
            </div>
            <div class="card-action">
              <a [routerLink]="['/' + magieBasePath + '/magie']">Magie</a>
              <a [routerLink]="['/' + rituelBasePath + '/rituel']">Rituels</a>
              <a [routerLink]="['/' + envoutementBasePath + '/envoutement']">Envoûtements</a>
            </div>
          </div>
        </div>
      </div>
    
      <div class="col s12 m4">
        <div class="card medium">
            <div class="card-image card-image-square">
            <img src="img/creer_personnage.jpg">
            <span class="card-title">Fiche personnage</span>
          </div>
          <div class="card-content-wrapper">
            <div class="card-content">
              <p>Création et consultation de fiches personnages.</p>
            </div>
            <div class="card-action">
              <a [routerLink]="['/' + personnageBasePath + '/nouveau']">Créer</a>
              <a >Consulter</a>
            </div>
          </div>
        </div>
      </div>
    
      <div class="col s12 m4">
        <div class="card medium">
            <div class="card-image card-image-square">
            <img src="img/don.jpg">
            <span class="card-title">Les aptitudes</span>
          </div>
          <div class="card-content-wrapper">
            <div class="card-content">
              <p>Le wiki des classes, les professions, les races, les compétences etc...</p>
            </div>
            <div class="card-action">
              <a [routerLink]="['/' + caracteristiqueBasePath + '/caracteristique']">Caractéristiques</a>
              <a [routerLink]="['/' + competenceBasePath + '/competence']">Compétences</a>
            </div>
          </div>
        </div>
      </div>

      <div class="col s12 m4">
        <div class="card medium">
            <div class="card-image card-image-square">
            <img src="img/races.jpg">
            <span class="card-title">Les classes</span>
          </div>
          <div class="card-content-wrapper">
            <div class="card-content">
              <p>Le wiki des classes, les professions, les races, les compétences etc...</p>
            </div>
            <div class="card-action">
              <a [routerLink]="['/' + professionBasePath + '/profession']">Profession</a>
              <a [routerLink]="['/' + raceBasePath + '/race']">Races</a>
            </div>
          </div>
        </div>
      </div>

      <div class="col s12 m4">
        <div class="card medium">
            <div class="card-image card-image-square">
            <img src="img/magasin.jpg">
            <span class="card-title">Magasin</span>
          </div>
          <div class="card-content-wrapper">
            <div class="card-content">
              <p>Cette partie seras disponible lors de la phase 2 de développement.</p>
            </div>
            <div class="card-action">
              <a >Armes</a>
              <a >Armures</a>
              <a >Ingrédients</a>
            </div>
          </div>
        </div>
      </div>
    
      <div class="col s12 m4">
        <div class="card medium">
            <div class="card-image card-image-square">
                <img src="img/classes.jpg">
                <span class="card-title">Combat</span>
            </div>
            <div class="card-content-wrapper">
                <div class="card-content">
                    <p>Cette partie sera disponible lors de la phase 3 de développement.</p>
                </div>
                <div class="card-action">
                    <a>Voir</a>
                </div>
            </div>
        </div>
      </div>


    </div>
  </div>
  <div class="col s12 m2"></div>
</div>




