/* Importation de _list-grids.scss et de _page-layout.scss pour les styles de grille */
@use '../../../styles/list-grids';
@use '../../../styles/page-layout';

.card-content {
    border: 2px solid transparent; // même épaisseur que le hover
    box-sizing: border-box;
}

/* Centrage vertical et horizontal du bouton d'ajout dans la colonne avec Materialize */
.add-btn-col {
	display: flex;
	align-items: center;
	justify-content: center;
	height: 100%;
	min-height: 100px; /* Ajuster si besoin selon la hauteur de la card */
}