<div class="height-page">
  <div class="container">
    <div class="row">
      <div class="col s2"></div>
      <div class="col s8">
            
        <div class="medium card horizontal">
          <div class="card-image">
            <img src="img/page_not_found.jpg">
          </div>
          <div class="card-stacked">
            <div class="card-content">
              <h2 class="header">Oups…</h2>
              <p>Ce petit chat a encore fait une bêtise ! La page que tu cherches a été renversée avec les plots !</p>
            </div>
            <div class="card-action">
              <a href="javascript:void(0)" (click)="goBack()">Retour</a>
            </div>
          </div>
        </div>
            
          </div>
        <div class="col s2"></div>
    </div>
  </div>
</div>  
