<div #modal id="modal1" class="modal">
  <div class="modal-content">

    <h4 class="center-align">{{ competence?.nom }} - {{ competence?.caracteristique?.code }}</h4>

    <div class="row" *ngIf="competence?.specialisation">
      <div class="col s1"></div>
      <div class="col s10">{{ competence?.specialisation }} - {{ competence?.prerequis }}</div>
      <div class="col s1"></div>
    </div>

    <div class="row">
      <div class="col s1"></div>
      <div class="col s10"><b>Description :</b> {{ competence?.description }}</div>
      <div class="col s1"></div>
    </div>

  </div>

  <div class="modal-footer">
    <button type="button" class="modal-close btn-flat">Fermer</button>
  </div>
</div>