
<h1 class="center-align">La magie</h1>

<table class="highlight">
    <thead>
      <tr>
          <th>Nom</th>
          <th>Coût</th>
          <th>Effet</th>
          <th>Portée</th>
          <th>Durée</th>
          <th>Elément</th>
          <th>Niveau</th>
          <th>Contre</th>
          <th>Profession</th>
      </tr>
    </thead>

    <tbody>
      <tr>
        <td>Compas Magique</td>
        <td>3 END</td>
        <td>Le compas magique permet de déterminer instantanément la direction vers un endroit où vous êtes déjà allée auparavant.inon, le sort indique le nord.</td>
        <td>Personnelle</td>
        <td>1D6 heure</td>
        <td>Mixte</td>
        <td>Sort de novice</td>
        <td></td>
        <td>Mage</td>
      </tr>
    </tbody>
</table>
