<ul id="dropdown1" class="dropdown-content grey darken-3">
  <li><a>Grimoire</a></li>
  <li class="divider"></li>
  <li><a [routerLink]="['/grimoire/magie']">Magie</a></li>
  <li><a [routerLink]="['/grimoire/rituel']">Rituels</a></li>
  <li><a [routerLink]="['/grimoire/envoutement']">Envoûtement</a></li>
</ul>

<ul id="dropdown2" class="dropdown-content grey darken-3">
  <li><a>Aptitudes</a></li>
  <li class="divider"></li>
  <li><a [routerLink]="['/aptitude/caracteristique']">Caractéristiques</a></li>
  <li><a [routerLink]="['/aptitude/competence']">Compétences</a></li>
</ul>

<ul id="dropdown2" class="dropdown-content grey darken-3">
  <li><a >Classes</a></li>
  <li class="divider"></li>
  <li><a [routerLink]="['/classse/race']">Races</a></li>
  <li><a >Professions</a></li>
</ul>

<nav>
  <div class="nav-wrapper grey darken-3">
    <a [routerLink]="['/home']" class="brand-logo right">Witcher Toolkit</a>
    <ul id="nav-mobile" class="left hide-on-med-and-down">
      <li><a class="dropdown-trigger" data-target="dropdown1">Grimoire<i class="material-icons right">arrow_drop_down</i></a></li>
      <li><a class="dropdown-trigger" data-target="dropdown2">Aptitudes<i class="material-icons right">arrow_drop_down</i></a></li>
      <li><a class="dropdown-trigger" data-target="dropdown2">Classes<i class="material-icons right">arrow_drop_down</i></a></li>
    </ul>
  </div>
</nav>

<main class="main">
  <router-outlet></router-outlet>
</main>

<!--
<footer class="page-footer grey darken-3">
  <div class="container">
    <div class="row">
      <div class="col l6 s12">
        <h5 class="white-text">Footer Content</h5>
        <p class="grey-text text-lighten-4">You can use rows and columns here to organize your footer content.</p>
      </div>
      <div class="col l4 offset-l2 s12">
        <h5 class="white-text">Links</h5>
        <ul>
          <li><a class="grey-text text-lighten-3" href="#!">Link 1</a></li>
          <li><a class="grey-text text-lighten-3" href="#!">Link 2</a></li>
        </ul>
      </div>
    </div>
  </div>
  <div class="footer-copyright">
    <div class="container">
      © 2014 Copyright Text
      <a class="grey-text text-lighten-4 right" href="#!">More Links</a>
    </div>
  </div>
</footer>
-->

<script>
$( document ).ready(function() {
  $(".dropdown-trigger").dropdown();
});
</script>