<ul id="dropdown1" class="dropdown-content grey darken-3">
  <li><a>Grimoire</a></li>
  <li class="divider"></li>
  <li><a [routerLink]="['/' + magieBasePath + '/magie']">Magie</a></li>
  <li><a [routerLink]="['/' + rituelBasePath + '/rituel']">Rituels</a></li>
  <li><a [routerLink]="['/' + envoutementBasePath + '/envoutement']">Envoûtement</a></li>
</ul>

<ul id="dropdown2" class="dropdown-content grey darken-3">
  <li><a>Aptitudes</a></li>
  <li class="divider"></li>
  <li><a [routerLink]="['/' + caracteristiqueBasePath + '/caracteristique']">Caractéristiques</a></li>
  <li><a [routerLink]="['/' + competenceBasePath + '/competence']">Compétences</a></li>
</ul>

<ul id="dropdown2" class="dropdown-content grey darken-3">
  <li><a >Classes</a></li>
  <li class="divider"></li>
  <li><a [routerLink]="['/' + raceBasePath + '/race']">Races</a></li>
  <li><a [routerLink]="['/' + professionBasePath + '/profession']">Professions</a></li>
</ul>

<nav>
  <div class="nav-wrapper grey darken-3">
     
    <a [routerLink]="['/home']" class="brand-logo right">
      <div class="row valign-wrapper">
        <div class="col s2">
          <img src="img/logo-site.png" alt="" class="circle responsive-img">
        </div>
      </div>
    </a>

    <ul id="nav-mobile" class="left hide-on-med-and-down">
      <li><a class="dropdown-trigger" data-target="dropdown1">Grimoire<i class="material-icons right">arrow_drop_down</i></a></li>
      <li><a class="dropdown-trigger" data-target="dropdown2">Aptitudes<i class="material-icons right">arrow_drop_down</i></a></li>
      <li><a class="dropdown-trigger" data-target="dropdown2">Classes<i class="material-icons right">arrow_drop_down</i></a></li>
    </ul>
  </div>
</nav>

<main class="main">
  <router-outlet></router-outlet>
</main>


<script>
$( document ).ready(function() {
  $(".dropdown-trigger").dropdown();
});
</script>