.nav-wrapper {
  display: flex;
  align-items: center;
  height: 64px;
  min-height: 64px;
  padding: 0 24px;
  justify-content: space-between;

  .nav-actions {
    display: flex;
    align-items: center;
    gap: 1rem;

    .logout-btn {
      font-size: 1rem;
      font-weight: 500;
      color: #fff;
      white-space: nowrap;
      margin-right: 1.5rem;
      margin-left: 1rem;
    }

    .brand-logo {
      position: static;

      img,
      .circle.responsive-img {
        height: 40px;
        width: auto;
        margin-left: 0.5rem;
      }
    }
  }
}