<ul id="dropdown1" class="dropdown-content grey darken-3">
  <li><a>Grimoire</a></li>
  <li class="divider"></li>
  <li><a [routerLink]="['/' + magieListPath]">Magie</a></li>
  <li><a [routerLink]="['/' + rituelListPath]">Rituels</a></li>
  <li><a [routerLink]="['/' + envoutementListPath]">Envoûtement</a></li>
</ul>

<ul id="dropdown2" class="dropdown-content grey darken-3">
  <li><a>Aptitudes</a></li>
  <li class="divider"></li>
  <li><a [routerLink]="['/' + caracteristiqueListPath]">Caractéristiques</a></li>
  <li><a [routerLink]="['/' + competenceListPath]">Compétences</a></li>
</ul>

<ul id="dropdown2" class="dropdown-content grey darken-3">
  <li><a >Classes</a></li>
  <li class="divider"></li>
  <li><a [routerLink]="['/' + raceListPath]">Races</a></li>
  <li><a [routerLink]="['/' + professionListPath]">Professions</a></li>
</ul>

<nav>
  <div class="nav-wrapper grey darken-3">
    <ul id="nav-mobile" class="left hide-on-med-and-down">
      <li *ngIf="isLoggedIn"><a class="dropdown-trigger" data-target="dropdown1">Grimoire<i class="material-icons right">arrow_drop_down</i></a></li>
      <li *ngIf="isLoggedIn"><a class="dropdown-trigger" data-target="dropdown2">Aptitudes<i class="material-icons right">arrow_drop_down</i></a></li>
      <li *ngIf="isLoggedIn"><a class="dropdown-trigger" data-target="dropdown2">Classes<i class="material-icons right">arrow_drop_down</i></a></li>
      <li *ngIf="isLoggedIn"><a [routerLink]="['/' + createPersonnageBasePath]">Créer</a></li>
      <li *ngIf="!isLoggedIn"><a [routerLink]="['/login']">Connexion</a></li>
    </ul>
    <div class="nav-actions">
      <a *ngIf="isLoggedIn" (click)="logout()" class="logout-btn" href="javascript:void(0)">Déconnexion</a>
      <a [routerLink]="['/home']" class="brand-logo">
        <img src="img/logo-site.png" alt="" class="circle responsive-img">
      </a>
    </div>
  </div>
</nav>

<main class="main">
  <router-outlet></router-outlet>
</main>


<script>
$( document ).ready(function() {
  $(".dropdown-trigger").dropdown();
});
</script>