<div>
  <div class="row">
    <div class="col s1"> </div>
    
    <div class="col s10">
      <h1 class="center-align">Créer un personnage</h1>
      <nav>
        <div class="nav-wrapper grey darken-3">
          <div class="col s12">
            <a [appHighlight]="currentStep === 1" (click)="goToStep(1)" class="breadcrumb">Identité</a>
            <a *ngIf="currentStep > 1" [appHighlight]="currentStep === 2" (click)="goToStep(2)" class="breadcrumb">Caractéristiques</a>
            <a *ngIf="currentStep > 2" [appHighlight]="currentStep === 3" (click)="goToStep(3)" class="breadcrumb">Compétences</a>
            <a *ngIf="currentStep > 3" [appHighlight]="currentStep === 4" (click)="goToStep(4)" class="breadcrumb">Magie</a>
          </div>
        </div>
      </nav>
    </div>

    <div class="col s1"> </div>
  </div>

  <div class="row">
    <div class="col s1"> </div>
    
    <div class="col s10">
      <div class="progress">
        <div class="determinate" [style.width]="getProgressWidth()"></div>
      </div>
    </div>

    <div class="col s1"> </div>
  </div>

  <div class="row">
    <div class="col s1"> </div>
    <div class="col s10">
      <div class="card darken-1">
        <div class="card-content white-text">
          
          <div *ngIf="currentStep === 1">
            <app-part1 [form]="form"></app-part1>
          </div>
          <div *ngIf="currentStep === 2">
            <app-part2 [form]="form"></app-part2>
          </div>
          <div *ngIf="currentStep === 3">
            <app-part3 [form]="form"></app-part3>
          </div>
          <div *ngIf="currentStep === 4 && (selectedProfession?.nom === 'Mage' || selectedProfession?.nom === 'Prêtre')">
            <app-part4 [form]="form"></app-part4>
          </div>

        </div>
        <div class="card-action">
          <button *ngIf="currentStep !== 1" class="waves-light btn grey darken-3" (click)="previousStep()" [disabled]="currentStep === 1">Précédent</button>
          <button *ngIf="currentStep !== 4 && !isSubmitAvailableOnPart3()" class="waves-light btn grey darken-3" (click)="nextStep()">Suivant</button>
          <button *ngIf="currentStep === 4 || isSubmitAvailableOnPart3()" class="waves-light btn grey darken-3" (click)="submitForm()">Soumettre</button>
        </div>
      </div>
    </div>
    <div class="col s1"> </div>
  </div>

</div>