/* Importation de _list-grids.scss et de _page-layout.scss pour les styles de grille */
@use '../../../styles/list-grids';
@use '../../../styles/page-layout';

.size-card {
    min-height: 500px;//a adapter pas la suite en fonction du texte qu'il y aura.
    border: 2px solid transparent;
    box-sizing: border-box;
}

/* Centrage vertical et horizontal du bouton d'ajout dans la colonne avec Materialize */
.add-btn-col {
	display: flex;
	align-items: center;
	justify-content: center;
	height: 100%;
	min-height: 100px; /* Ajuster si besoin selon la hauteur de la card */
}
