<h1 class="center-align">Les rituels</h1>

<table class="highlight">
    <thead>
      <tr>
          <th>Nom</th>
          <th>Coût</th>
          <th>Effet</th>
          <th>Temps de préparation</th>
          <th>SD</th>
          <th>Durée</th>
          <th>Composants</th>
          <th>Niveau</th>
      </tr>
    </thead>

    <tbody>
      <tr>
        <td>Hydromancie</td>
        <td>3 END</td>
        <td>Le compas magique permet de déterminer instantanément la direction vers un endroit où vous êtes déjà allée auparavant.inon, le sort indique le nord.</td>
        <td>5 Rounds</td>
        <td>15 (18)</td>
        <td>Actif (2 END)</td>
        <td>APlein de composants !!!</td>
        <td>Novice</td>
      </tr>
    </tbody>
</table>
