.card {
  border: 1px solid #616161;
  box-sizing: border-box;
  transition: box-shadow 0.15s, border-color 0.15s;
}

/* Centrage vertical et horizontal du bouton d'ajout dans la colonne avec Materialize */
.add-btn-col {
	display: flex;
	align-items: center;
	justify-content: center;
	height: 100%;
	min-height: 100px; /* Ajuster si besoin selon la hauteur de la card */
}
