<div [formGroup]="form">
  <div class="row">
    <div class="input-field col s3">
      <label for="nomPersonnage">Nom du personnage</label>
      <input id="nomPersonnage" formControlName="nomPersonnage" type="text" required>
      <!-- Affiche le message d'erreur uniquement si le contrôle est invalide et a été touché ou modifié -->
      <app-form-control-error [control]="form.get('nomPersonnage')"></app-form-control-error>
    </div>
    
    <div class="input-field col s3">
      <label for="nomJoueur">Nom du joueur</label>
      <input id="nomJoueur" formControlName="nomJoueur" type="text">
      <!-- Affiche le message d'erreur uniquement si le contrôle est invalide et a été touché ou modifié -->
      <app-form-control-error [control]="form.get('nomJoueur')"></app-form-control-error>
    </div>
    
    <div class="input-field col s3">
        <select id="race" formControlName="race" class="browser-default" required>
          <option value="" disabled selected>Choisir race</option>
          <option *ngFor="let race of races" [value]="race.idRace">{{ race.nom }}</option>     
      </select>
      <label for="race" class="active">Race</label>
      <!-- Affiche le message d'erreur uniquement si le contrôle est invalide et a été touché ou modifié -->
      <app-form-control-error [control]="form.get('race')"></app-form-control-error>
    </div>
    
    <div class="input-field col s3">
      <div class="genre-radio-group">
        <label for="genre">Genre</label>
        <label>
          <input id="genre" type="radio" formControlName="genre" value="M" required>
          <span>Masculin</span>
        </label>
        <label>
          <input id="genreF" type="radio" formControlName="genre" value="F" required>
          <span>Féminin</span>
        </label>
      </div>
      <!-- Affiche le message d'erreur uniquement si le contrôle est invalide et a été touché ou modifié -->
      <app-form-control-error [control]="form.get('genre')"></app-form-control-error>
    </div>
  </div>

  <div class="row">
    <div class="input-field col s4">
      <label for="terreNatale">Terre natale</label>
      <input id="terreNatale" formControlName="terreNatale" type="text">
      <!-- Affiche le message d'erreur uniquement si le contrôle est invalide et a été touché ou modifié -->
      <app-form-control-error [control]="form.get('terreNatale')"></app-form-control-error>
    </div>

    <div class="input-field col s4">
        <div class="buton-input-group">
            <label class="active" for="age">Âge</label>
            <a class="btn-floating yellow darken-3 btn-small" (click)="updateField('age', -1)">
                <i class="material-icons">remove</i>
            </a>
            <input id="age" type="text" formControlName="age">
            <a class="btn-floating yellow darken-3 btn-small" (click)="updateField('age', 1)">
                <i class="material-icons">add</i>
            </a>
        </div>
        <!-- Affiche le message d'erreur uniquement si le contrôle est invalide et a été touché ou modifié -->
        <app-form-control-error [control]="form.get('age')"></app-form-control-error>
    </div>

    <div class="input-field col s4">
      <select id="profession" formControlName="profession" class="browser-default" required>
        <option value="" disabled selected>Choisir profession</option>
        <option *ngFor="let profession of filteredProfessions" [value]="profession.idProfession">{{ profession.nom }}</option>
      </select>
      <label for="profession" class="active">Profession</label>
      <!-- Affiche le message d'erreur uniquement si le contrôle est invalide et a été touché ou modifié -->
      <app-form-control-error [control]="form.get('profession')"></app-form-control-error>
    </div>

  </div>

  <div class="row" *ngIf="professionControl?.value && (getProfessionName(professionControl?.value) === 'Barde' || getProfessionName(professionControl?.value) === 'Marchand')">
    <div class="col s12">
      <label>Choisir {{ getProfessionName(professionControl?.value) === 'Barde' ? '1' : '2' }} langue(s)</label>
      <div class="row">
        <div *ngFor="let langue of languesList; let i = index" class="col s4">
          <p>
            <label>
              <input type="checkbox"
                     [value]="langue.nom"
                     (change)="onLangueCheckboxChange($event)"
                     [disabled]="isLangueCheckboxDisabled(langue)"
                     [checked]="isLangueChecked(langue)">
              <span>{{ langue.nom }}</span>
            </label>
          </p>
        </div>
      </div>
    </div>
  </div>

  <div class="row" *ngIf="professionControl?.value && (getProfessionName(professionControl?.value) === 'Homme d\'arme' || getProfessionName(professionControl?.value) === 'Noble')">
    <div class="col s12">
      <label>Choisir {{ getProfessionName(professionControl?.value) === "Homme d'arme" ? '5' : '1' }} compétence(s) de combat</label>
      <div class="row">
        <div *ngFor="let comp of combatCompetences; let i = index" class="col s4">
          <p>
            <label>
              <input type="checkbox"
                     [value]="comp.nom"
                     (change)="onCombatCheckboxChange($event)"
                     [disabled]="isCombatCheckboxDisabled(comp)"
                     [checked]="isCombatChecked(comp)">
              <span>{{ comp.nom }}</span>
            </label>
          </p>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <form class="col s12">
      <div class="row">
        <div class="input-field col s12">
          <textarea id="historique" class="materialize-textarea" formControlName="historique"></textarea>
          <label for="historique">Historique</label>
          <!-- Affiche le message d'erreur uniquement si le contrôle est invalide et a été touché ou modifié -->
          <app-form-control-error [control]="form.get('historique')"></app-form-control-error>
        </div>
      </div>
    </form>
  </div>

  <div class="row">
    <div class="col s12">
      <label *ngIf="selectedProfessionNbObjet !== null">choisir {{ selectedProfessionNbObjet !== null ? selectedProfessionNbObjet : '?' }} objets</label>
      <div class="row">
        <div *ngFor="let item of filteredInventaireWikiList; let i = index" class="col s4">
          <p>
            <label>
              <input type="checkbox"  [value]="item.nom" (change)="onCheckboxChange($event)" [disabled]="isCheckboxDisabled(item)" [checked]="isItemChecked(item)">
              <span>{{ item.nom }}</span>
            </label>
          </p>
        </div>
      </div>
    </div>
  </div>
  
  <div class="row" *ngIf="filteredSpecialInventaireWikiList.length">
    <div class="col s12">
      <label>Objets spéciaux :</label>
      <div class="row">
        <div *ngFor="let item of filteredSpecialInventaireWikiList" class="chip special-chip">
          {{ item.nom }}
        </div>
      </div>
    </div>
  </div>
  
</div>