<div [formGroup]="form">

  <!-- Bloc des points restants -->
  <div class="col s6"> 
    <span class="badge">
      Il vous reste <b>{{ pointsRestants() }}</b> points à dépenser :
    </span>
  </div>

  <div class="row">
    <form class="col s12">
      <div class="row" formArrayName="competences">
        <div *ngFor="let competenceCtrl of competencesArray.controls; let i = index" [formGroupName]="i" class="col s4">
          <div class="row">
            <div class="col s2 center-align">
              <button type="button" class="btn-floating btn-small" (click)="decrementCaracteristique(i, 'competences')" [disabled]="isDecrementDisabled(i, 'competences')">
                <i class="material-icons">remove</i>
              </button>
            </div>
            <div class="col s6">
              <label>{{ competenceCtrl.value.competence.nom }} ({{ competenceCtrl.value.competence.caracteristique.code }})</label>
              <input type="text" formControlName="valeurMax" class="validate">
              <div *ngIf="competenceCtrl.get('valeurMax')?.invalid && (competenceCtrl.get('valeurMax')?.dirty || competenceCtrl.get('valeurMax')?.touched)">
              </div>
            </div>
            <div class="col s2 center-align">
              <button type="button" class="btn-floating btn-small" (click)="incrementCaracteristique(i, 'competences')" [disabled]="isIncrementDisabled(i, 'competences')">
                <i class="material-icons">add</i>
              </button>
            </div>
          </div>
        </div>
      </div>
    </form>
  </div>

  <!-- Bloc des compétences non associées -->
  <div class="col s6"> 
    <span class="badge">
      Vous avez <b>{{ pointsDispo }}</b> points à mettre dans les compétences suivantes :
    </span>
  </div>
  <div class="row">
    <form class="col s12">
      <div class="row" formArrayName="nonAssociatedCompetences">
        <div *ngFor="let competenceCtrl of nonAssociatedCompetencesArray.controls; let i = index" [formGroupName]="i" class="col s4">
          <div class="row">
            <div class="col s2 center-align">
              <button type="button" class="btn-floating btn-small" (click)="decrementCaracteristique(i, 'nonAssociatedCompetences')" [disabled]="isDecrementDisabled(i, 'nonAssociatedCompetences')">
                <i class="material-icons">remove</i>
              </button>
            </div>
            <div class="col s6">
              <label>{{ competenceCtrl.value.competence.nom }} ({{ competenceCtrl.value.competence.caracteristique.code }})</label>
              <input type="text" formControlName="valeurMax" class="validate">
              <div *ngIf="competenceCtrl.get('valeurMax')?.invalid && (competenceCtrl.get('valeurMax')?.dirty || competenceCtrl.get('valeurMax')?.touched)">
              </div>
            </div>
            <div class="col s2 center-align">
              <button type="button" class="btn-floating btn-small" (click)="incrementCaracteristique(i, 'nonAssociatedCompetences')" [disabled]="isIncrementDisabled(i, 'nonAssociatedCompetences')">
                <i class="material-icons">add</i>
              </button>
            </div>
          </div>
        </div>
      </div>
    </form>
  </div>

</div>