<h1 class="center-align">Les compétences</h1>

<table class="highlight">
    <thead>
      <tr>
          <th>Nom</th>
          <th>Caractéristique</th>
          <th>Description</th>
      </tr>
    </thead>

    <tbody>
      <tr>
        <td>Connaissance de la rue</td>
        <td>INT</td>
        <td><a class="waves-effect waves-light btn">Plus d'infos</a></td>
      </tr>
      <tr>
        <td>Compagnon</td>
        <td>TECH</td>
        <td><a class="waves-effect waves-light btn">Plus d'infos</a></td>
      </tr>
    </tbody>
</table>
