<h1 class="center-align">Les compétences</h1>

<div class="container mb-5">
  <div class="row">
    <div class="col-4 offset-4">
      <div class="card">
        <form class="card-body">
          <div class="form-group">
            
            <div class="row">
              <div class="col s10">
                <div class="row">
                  <div class="col s3"></div>
                  <div class="input-field col s6">
                    <i class="material-icons prefix">search</i>
                    <input id="icon_prefix" type="text" name="searchTerm" class="validate"  #searchField [value]="searchTerm()" (input)="searchTerm.set(searchField.value)">
                    <label for="icon_prefix">Rechercher une compétence</label>
                  </div>
                </div>
                
              </div>
              <div class="col s2 add-btn-col">
                <a class="btn-floating btn-large waves-light teal lighten-2" (click)="openCreateModal()"><i class="material-icons">add</i></a>
              </div>
            </div>
            
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

<div class="container">
  <div class="row">
    
    <!-- Afficher le message "Aucun résultat" si la liste est vide -->
    <div *ngIf="competencesListFiltered().length === 0" class="col-12 text-center">
      <p>Aucun résultat</p>
    </div>

    <!-- Afficher les cartes des compétences filtrées -->
    
    <div *ngFor="let competence of competencesListFiltered(); trackBy: trackById">

      <div class="col s12 m4">
        <div class="card horizontal" appSelectionBorder>
          <div class="card-stacked">
            <span class="card-title  center-align">{{ competence.nom }} <span *ngIf="competence.caracteristique">({{ competence.caracteristique.code }})</span></span>
            <div class="card-content">
              <p>{{ truncateText(competence.description) }}</p>
            </div>

            <div class="card-action">
              <a *ngIf="auth.isLoggedIn()" (click)="openModal(competence)" href="javascript:void(0)">Voir</a>
              <a *ngIf="auth.hasRole('ADMIN')" (click)="openUpdateModal(competence)" href="javascript:void(0)">Modifier</a>
              <a *ngIf="auth.hasRole('ADMIN')" (click)="openDeleteModal(competence)" href="javascript:void(0)">Supprimer</a>
            </div>
          </div>
        </div>
      </div>
    </div>    
  </div>
</div>

<app-competences-detail-modal [competence]="selectedCompetence"></app-competences-detail-modal>
<app-competences-update-modal [competence]="selectedCompetence" (competenceUpdated)="onCompetenceUpdated($event)"></app-competences-update-modal>
<app-confirm-delete-modal-component #deleteModal *ngIf="competenceToDelete" [itemName]="competenceToDelete.nom" (confirm)="deleteCompetence()" (cancel)="competenceToDelete = null"></app-confirm-delete-modal-component>
