<h1 class="center-align">Les envoûtements</h1>

<table class="highlight">
    <thead>
      <tr>
          <th>Nom</th>
          <th>Coût (END)</th>
          <th>Effet</th>
          <th>Prérequis</th>
          <th>Danger</th>
      </tr>
    </thead>

    <tbody>
      <tr>
        <td>L'envoûtement des Ombres</td>
        <td>4</td>
        <td>L'envoûtement des ombres crée des murmures dans les ténèbres et des silhouettes dans les coins. Le sujet doit faire des jets de vigilance au hasard avec un SD non spécifié, apercevant toujours quelque chose ou quelqu''un du coin de l’œil. Les jets de vigilance ne sont jamais pour une menace réelle, juste des visions.  Le sujet doit apporter un bol d'eau pure, une branche de myrte blanc et une bouteille d''encre dans une clairière lors d’une lune croissante. Quand la lune est au plus haut, le sujet doit verser l’encre dans l’eau, tremper la branche dans le mélange et asperger des gouttelettes en cercle autour de lui tout en retenant sa respiration.</td>
        <td>Un bol d''eau pure, une branche de myrte blanc, une bouteille d''encre, une clairière, une lune croissante</td>
        <td>Faible</td>
      </tr>
    </tbody>
</table>
